 <!-- Start Form -->
 <form>
    <div class="form-group">
         <section id = "question" style="color: white;" >

         </section>
        <div class="form-control" id="answer">
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class ="col-sm">
            <input id="btnRetire" type="submit" class="fadeIn fourth" value="Retire" style="height:50px; width:100px; font-size:15px; padding: 0px 0px;">
          </div>
          <div class ="col-sm">
            <input id="btnSendAnswer" type="submit" class="fadeIn fourth" value="Send" style="height:50px; width:100px; font-size:15px;   padding: 0px 0px;">
          </div>
       </div>
      </div>

      
</form>